@charset "UTF-8";

@media (max-width:1499px) {
    .main-list, .list-header {
        width: 95%;
    }
}

@media (min-width:1500px) {
    .main-list, .list-header {
        width: 85%;
    }
}

@media (min-width:1921px) {
    .main-list, .list-header {
        width: 75%;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font: 16px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}
  
.main-list, .list-header {
    margin: auto;
    padding: 10px;
    min-width: 600px;
}

.list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 3px;
    border-style: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    overflow: hidden;
    clear:both;
}

.list-item .domain a, .list-item .domain a:hover {
    font-weight: bold;
    color: #2e87ca;
    text-decoration: none;
}

.status {
    font-weight: bold;
    margin-top: 0.5em;
}

.accepted{
    color: #249106;
    content: 'Accepted';
}

.declined {
    color: #b12b2b;
    content: 'Declined';
}

.unhandled {
    color: #a1a1a1;
    content: 'Unhandled';
}

.list-item div.domain {
    float: left;
    width: 15%;
    margin-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: none;
    display: table-cell
}

.list-item div.issue-author,
.list-item div.template-creator {
    min-height: 1em;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px;
    clear: left;
}

.list-item div.author-box {
    float: left;
    width: 15%;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item div.comment-box {
    overflow: hidden; /*
    white-space: nowrap;
    text-overflow: ellipsis;
    */
}

.list-item div.comment-field {
    /* overflow-x: scroll;
    overflow-y: hidden; */
    overflow: initial;
    overflow-wrap: normal;
    text-overflow: ellipsis;
}

/* Issue creator's comment in comment section */
.list-item div.issue-comment::before {
    color:#808080;
    content: 'Comment: ';
}

/* Issue reply in comment section */
.list-item div.issue-reply {
    margin-top: 0.5em;
}

.list-item div.issue-reply::before {
    color:#808080;
    content: 'Reply: ';
}

.list-item .issue-author {
    color: #2e87ca;
}

.list-item .template-creator {
    color: #32bfb3;
    margin-top: 0.5em;
}

.hidden {
    display: none;
}

.search-bar {
    border: none;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    font-size: 16px;

    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;

    margin-bottom: 12px;
    max-width: 70%;
    vertical-align: top;

    text-overflow: ellipsis;
}

.domain-search {
    width: calc(15% - 11px);
    float: left;
    margin-right: 8px;
}

.user-search {
    width: calc(15% - 11px);
    float: left;
    margin-right: 8px;
}

.comment-search {
    width: calc(70% - 27px);
    float: right;
}

.search-box {
    /*display: flex;*/
    
    border: #333;
    flex-flow: row;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    
    padding-left: 15px;
    padding-right: 15px;

    width: calc(100% - 30px);
}

.filter-box {
    border: #333;
    border-top: 1px solid #dfdfdf;

    margin-top: 15px;
    margin-bottom: 5px;

    padding-top: 20px;

    display: flex;
}

.filter-col {
    width: 33%;
}

.checkbox-label {
    margin-right: 20px;
}
